<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Calendar</title>
        <meta charset="UTF-8">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        firstDay: 1,
        initialView: 'timeGridDay',
        initialDate: '{{ today }}',
        allDaySlot: false,
        slotMinTime: '10:00:00',
        slotMaxTime: '22:00:00',
        displayEventTime: false,
        contentHeight: 'auto',
        nowIndicator: true,
        navLinks: true,
        slotLabelFormat: {
            hour: '2-digit',
            hour12: false,
        },
        headerToolbar: {
          left: '',
          center: 'title',
          right: ''
        },
        footerToolbar: {
          left: 'today',
          center: 'prev,next',
          right: 'timeGridWeek,timeGridDay'
        },
        dateClick: function(info) {
            alert('Clicked on: ' + info.dateStr);
            window.location.href = 'book/' + info.dateStr;
        },
        events: [
          {
            title: 'Santi',
            start: '2023-03-30T13:00:00',
            end: '2023-03-30T14:00:00',
          },
          {
            start: '2023-03-30T13:00:00',
            end: '2023-03-30T14:00:00',
            display: 'background',
            color: '#ff9f89'
          },
          {
            start: '2023-03-30T19:00:00',
            end: '2023-03-30T20:00:00',
            display: 'background',
            color: '#ff9f89'
          },
          {
            start: '2023-03-30T19:00:00',
            end: '2023-03-30T20:00:00',
            display: 'background',
            color: '#ff9f89'
          },
          {
            start: '2023-03-30T20:00:00',
            end: '2023-03-30T21:00:00',
            display: 'background',
            color: '#ff9f89'
          },
          {
            title: 'Alberto',
            start: '2023-03-30T19:00:00',
            end: '2023-03-30T10:00:00',
          }
        ]
      });
      calendar.render();
    });
        </script>
    </head>
    <body>
        <div class="card" style="margin: 10px">
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </body>
</html>